body {
  cursor: pointer;
}

#media {
  position: fixed;
  left: 35%;
  top: 0;
  
  background: #000c;
  color: #fff;
  z-index: -1;
}

#meta {
  padding-left: 10px;
}

#meta span {
  font-weight: normal;
}

#media {
  margin: 0;
  padding: 0;
}
