body {
  position: relative;
  border: 2px solid #73AD21;
}

#media {
  position: absolute;
  background: #000c;
  color: #fff;
  z-index: -10;
  margin-left: 50%;
  transform:translateX(-50%);
  padding: 5px;
  border: 5px solid #73AD21;
}

.textalive-banner{
  z-index: -10;
}

.textalive-banner{
  display: none !important;
}
